
* 
 body {
            background-image: url("iPod.png");
            background-repeat: no-repeat; 
            background-position: center; 
            background-size: cover; 
            background-attachment: fixed; 
            background-color: rgba(0, 0, 0, 0.5);
        }

{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

h1 {
    font-size: 60px;
    margin: 0;
    margin-top: 60pxz
}

h2 {
    font-weight: 500;
}

img {
    width: 400px;
}

     .option-btn {
    background-color: #e4e6eb;
    color: #050505;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}

.option-btn:hover {
    background-color: #875AFB;
    color: white;
}

 li {
  color:white;
 }
