* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

body {
    background-image: url("iPod.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}

h1 {
    font-size: 60px;
    color: rgb(118, 199, 199);

    margin: 0;
    margin-top: 60px;
}

h2 {
    color: #CBC3E3;
    font-weight: 500;
}

h3 {
    color: #CBC3E3;
    margin-bottom: 5px;
}

ul {
    color: white;
    text-align: left;
}

li {
    color: white;
}


/* HOME PAGE QUIZ BUTTON */

.quiz-btn {
    display: inline-block;

    background-color: #e4e6eb;
    color: #050505;

    border: none;
    padding: 15px 20px;

    font-size: 16px;
    border-radius: 8px;

    cursor: pointer;

    text-decoration: none;

    text-shadow: none;

    transition: background-color 0.2s, transform 0.1s;
}

.quiz-btn:hover {
    background-color: #875AFB;
    color: white;

    transform: translateY(-2px);
}
